@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    margin-top: 60px;
    max-width: 100vw;
    overflow-x: hidden;
}

.purple-shape {
    position: absolute;
    height: 576px;
    width: 400px;
    border-bottom-right-radius: 396px;
    border-bottom-left-radius: 396px;
    left: -200px;
    z-index: -1;
    background: rgb(136,56,255);
    background: linear-gradient(0deg, rgba(136,56,255,1) 11%, rgba(233,66,255,1) 100%);
    top: 0;
}

.phone {
    width: 280px;
    background-color: hsl(270, 20%, 96%);
    border: 10px solid white;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 30px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    margin-bottom: 40px;
}

.notch {
    height: 35px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 160px;
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.chat-top {
    display: flex;
    padding-top: 40px;
    align-items: center;
    height: auto;
    background: linear-gradient(90deg, rgba(136,56,255,1) 32%, rgba(233,66,255,1) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 14px;
}

.contact-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 10px 0 20px;
}

.contact-name {
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.availability {
    color: var(--pale-violet);
    font-size: 8px;
    font-weight: 400;
}

.chat {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.contact-message {
    background-color: #EDE5F4;
    color: var(--moderate-violet);
    border-radius: 12px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    font-size: 10px;
    max-width: 170px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-right: 20px;
}

.pictures {
    column-gap: 10px;
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.user-message {
    align-self: flex-end;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    background-color: white;
    border-radius: 12px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    font-size: 10px;
    max-width: 170px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: hsl(271, 15%, 43%);
}

.chat-picture {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.contact-price {
    position: relative;
    width: 200px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    border-bottom-left-radius: 5px;
    padding: 10px 20px 10px 10px;
    background: linear-gradient(270deg, rgba(136,56,255,1) 32%, rgba(233,66,255,1) 100%);
}

.contact-price > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

.checkbox {
    position: absolute;
    top: auto;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
}

.description {
    color: white;
    font-size: 10px;
    margin-left: 25px;
}

.price {
    color: white;
    font-weight: 700;
}

.input {
    background-color: white;
    width: calc(100% - 20px);
    margin: 0 10px 10px 10px;
    height: 30px;
    border-radius: 18px;
    border-width: 0;
    padding: 18px;
    font-size: 12px;
    margin-top: 4px;
}

.input::placeholder {
    color: var(--grayish-blue);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 18px;
}

.title {
    color: var(--very-dark-desaturated-violet);
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.5px;
}

.text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-grayish-violet);
}

.gray-shape {
    position: fixed;
    height: 420px;
    width: 200px;
    border-top-left-radius: 396px;
    right: 0;
    z-index: -1;
    background-color: #F9F4FA;
    bottom: -80px;
}

@media (min-width: 375px) {
    .title {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .purple-shape {
        width: 583px;
    }

    .gray-shape {
        height: 590px;
        bottom: -10px;
    }
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .phone {
        margin: 0 60px 100px;
    }

    .info {
        width: 520px;
        margin-top: -110px;
        align-self: auto;
    }

    .title {
        text-align: left;
        width: 100%;
    }

    .text {
        text-align: left;
        align-self: flex-start;
    }
}

@media (min-width: 1440px) {
    .gray-shape {
        height: 790px;
        width: 400px;
    }

    .text {
        line-height: 30px;
        font-size: 18px;
        width: 500px;
    }
}